@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #000000;
  color: #fafafa;
  height: 100vh;
  width: 100vw;
}

.background-carne {
  background-image: url("/imagens/espeto-porcao.jpeg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.background-porcao {
  background-image: url("/imagens/batata.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.background-refrigerante {
  background-image: url("/imagens/refri.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
